.header__row {
  min-height: 80px;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-img {
  width: 104px;
  height: 39px;
  background: url(../img/header/logo1.png);
  background-repeat: no-repeat;
}

.header__container {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #131313;
  width: 100%;
}

.nav-container {
  background-color: #343a40;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  font-size: 13px;
  line-height: 19px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-weight: 500;
}

.nav-link:hover {
  color: #7d41ee;
}

.user-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747373;
  font-size: 12px;
  font-weight: 500;
  margin-right: 44px;
}

.user-entry:hover {
  text-decoration: none;
  color: #7d41ee;
}

.user-entry::before {
  content: url("../img/header/lock.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 25px;
  margin-right: 13px;
}

.phone-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #747373;
}

.phone-link:hover {
  text-decoration: none;
  color: #7d41ee;
}

.phone-link::before {
  content: url("../img/header/phone.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.mobile__user-entry {
  margin-right: 22px;
}

.regist-btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-right: 34px;
  color: #fff !important;
  background-color: #7d41ee;
  font-size: 12px;
  width: 177px;
  height: 31px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.regist-btn:hover {
  background-color: #af84ff;
  -webkit-box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
          box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
  -webkit-transition: .55s box-shadow;
  -o-transition: .55s box-shadow;
  transition: .55s box-shadow;
  text-decoration: none;
}

@media (min-width: 992px) {
  .header__row {
    min-height: 60px;
  }
  .header__container {
    background-color: #fff;
    border-bottom: 1px solid #dadada;
  }
  .nav-link {
    color: #010101;
  }
  .nav-container {
    background-color: #fff;
  }
  .navbar {
    min-height: 60px;
  }
  .header__logo-img {
    width: 104px;
    height: 39px;
    background: url(../img/header/logo.png);
    background-repeat: no-repeat;
  }
  .mobile-menu__button {
    display: none;
  }
  .mobile__user-entry {
    display: none;
  }
  .nav {
    width: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .regist-btn {
    display: none;
  }
  .user-entry {
    display: none;
  }
  .phone-link {
    display: none;
  }
}

.container-fluid .container {
  padding-left: 0;
  padding-right: 0;
}

.promo {
  font-family: 'Montserrat', sans-serif;
  background: url("../img/promo/main-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.promo__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__btn {
  display: block;
  width: 214px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  height: 53px;
  text-align: center;
  border-radius: 21px;
  background-color: #8548f6;
  border: none;
  -webkit-box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35);
  box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35);
  margin-top: 70px;
}

.promo__btn:hover {
  background-color: #af84ff;
  -webkit-box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
          box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
  -webkit-transition: .55s box-shadow;
  -o-transition: .55s box-shadow;
  transition: .55s box-shadow;
  text-decoration: none;
}

.promo__btn-call {
  display: block;
  background: transparent;
  width: 214px;
  height: 53px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  border-radius: 24px;
  border: 1px solid #ffffff;
  margin-bottom: 90px;
}

.promo__title {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 275px;
  padding-top: 50px;
}

.promo__slogan {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.page-main {
  margin-top: -1px;
}

.promo__logo {
  padding-top: 55px;
}

.bg-logo {
  position: absolute;
  width: 380px;
  height: 600px;
  opacity: 0.1;
  bottom: 20%;
  left: 80%;
  -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
          transform: rotate(70deg);
}

.note-img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  position: absolute;
  margin-top: 40px;
  margin-left: 40%;
}

@media (min-width: 768px) {
  .promo__logo {
    padding-top: 100px;
  }
  .promo__title {
    padding-top: 30px;
    font-size: 31px;
    width: 450px;
    text-align: left;
  }
  .promo__slogan {
    font-size: 18px;
  }
  .promo__btn {
    margin-top: 50px;
    width: 166px;
    height: 37px;
    font-size: 11px;
  }
  .promo__left {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bg-logo {
    display: none;
  }
  .promo {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(35%, #131313), color-stop(35%, transparent)), url("../img/promo/main-image.png");
    background-image: -o-linear-gradient(right, #131313 35%, transparent 35%), url("../img/promo/main-image.png");
    background-image: linear-gradient(to left, #131313 35%, transparent 35%), url("../img/promo/main-image.png");
    padding-bottom: 60px;
  }
  .note-img {
    margin-left: 20%;
  }
  .promo__btn-call {
    display: none;
  }
}

@media (max-width: 768px) {
  .note-img {
    display: none;
  }
}

@media (min-width: 992px) {
  .note-img {
    margin-left: 30%;
  }
}

@media (min-width: 1200px) {
  .note-img {
    margin-left: 40%;
  }
}
