.feedback
    position: relative
    overflow: hidden
    padding-bottom: 200px

.feedback-bg
    opacity: 0.1
    position: absolute
    width: 650px
    top: -150px
    left: -100px
    z-index: 4
    

.feedback__phone-img
    z-index: 5
    display: block
    padding-top: 100px
    position: relative
    max-width: 390px
    height: auto

.vk
    display: flex
    width: 48px
    height: 47px
    margin-right: 20px
    align-items: center
    justify-content: center
    box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22)
    background-color: #8548f6
    -moz-border-radius: 50px
    -webkit-border-radius: 50px
    border-radius: 50px
    &:hover
        box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43)
        background-color: #a97bff

.feedback__left-col
    position: relative

.whatsapp
    width: 48px
    height: 47px
    box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22)
    background-color: #8548f6
    display: flex
    margin-right: 20px
    align-items: center
    justify-content: center
    -moz-border-radius: 50px
    -webkit-border-radius: 50px
    border-radius: 50px
    &:hover
        box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43)
        background-color: #a97bff

.social
    display: flex

.telegram
    width: 48px
    height: 47px
    box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22)
    background-color: #8548f6
    display: flex
    margin-right: 20px
    align-items: center
    justify-content: center
    -moz-border-radius: 50px
    -webkit-border-radius: 50px
    border-radius: 50px
    &:hover
        box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43)
        background-color: #a97bff

.viber
    width: 48px
    height: 47px
    box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22)
    background-color: #8548f6
    display: flex
    margin-right: 20px
    align-items: center
    justify-content: center
    -moz-border-radius: 50px
    -webkit-border-radius: 50px
    border-radius: 50px
    &:hover
        box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43)
        background-color: #a97bff
