.header__row {
  min-height: 80px; }

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header__logo-img {
  width: 104px;
  height: 39px;
  background: url(../img/header/logo1.png);
  background-repeat: no-repeat; }

.header__container {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #131313;
  width: 100%; }

.nav-container {
  background-color: #343a40; }

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif; }

.nav-link {
  font-size: 13px;
  line-height: 19px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-weight: 500; }
  .nav-link:hover {
    color: #7d41ee; }

.user-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747373;
  font-size: 12px;
  font-weight: 500;
  margin-right: 44px; }
  .user-entry:hover {
    text-decoration: none;
    color: #7d41ee; }
  .user-entry::before {
    content: url("../img/header/lock.png");
    background-repeat: no-repeat;
    width: 19px;
    height: 25px;
    margin-right: 13px; }

.phone-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #747373; }
  .phone-link:hover {
    text-decoration: none;
    color: #7d41ee; }
  .phone-link::before {
    content: url("../img/header/phone.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 10px; }

.mobile__user-entry {
  margin-right: 22px; }

.regist-btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-right: 34px;
  color: #fff !important;
  background-color: #7d41ee;
  font-size: 12px;
  width: 177px;
  height: 31px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif; }
  .regist-btn:hover {
    background-color: #af84ff;
    -webkit-box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
            box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
    -webkit-transition: .55s box-shadow;
    -o-transition: .55s box-shadow;
    transition: .55s box-shadow;
    text-decoration: none; }

@media (min-width: 992px) {
  .header__row {
    min-height: 60px; }
  .header__container {
    background-color: #fff;
    border-bottom: 1px solid #dadada; }
  .nav-link {
    color: #010101; }
  .nav-container {
    background-color: #fff; }
  .navbar {
    min-height: 60px; }
  .header__logo-img {
    width: 104px;
    height: 39px;
    background: url(../img/header/logo.png);
    background-repeat: no-repeat; }
  .mobile-menu__button {
    display: none; }
  .mobile__user-entry {
    display: none; }
  .nav {
    width: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media (max-width: 992px) {
  .regist-btn {
    display: none; }
  .user-entry {
    display: none; }
  .phone-link {
    display: none; } }

.container-fluid .container {
  padding-left: 0;
  padding-right: 0; }

.promo {
  overflow: hidden; }

.promo__left {
  font-family: 'Montserrat', sans-serif;
  background: url("../img/promo/main-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative; }

.promo__right {
  background-color: black;
  position: relative; }

.promo__btn {
  display: block;
  width: 214px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  height: 53px;
  text-align: center;
  border-radius: 21px;
  background-color: #8548f6;
  border: none;
  -webkit-box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35);
  box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35);
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto; }
  .promo__btn:hover {
    background-color: #af84ff;
    -webkit-box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
            box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
    -webkit-transition: .55s box-shadow;
    -o-transition: .55s box-shadow;
    transition: .55s box-shadow;
    text-decoration: none; }

.promo__btn-text {
  padding-right: 10px; }

.promo__btn-call {
  display: block;
  background: transparent;
  width: 214px;
  height: 53px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  border-radius: 24px;
  border: 1px solid #ffffff;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto; }

.promo__title {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-top: 50px;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto; }

.promo__slogan {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center; }

.page-main {
  margin-top: -1px; }

.promo__logo {
  padding-top: 55px;
  text-align: center; }

.bg-logo-mobile {
  position: absolute;
  width: 380px;
  height: 600px;
  opacity: 0.1;
  bottom: 20%;
  left: 80%;
  -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
          transform: rotate(70deg);
  z-index: 1; }

.bg-logo-right {
  opacity: 0.1;
  width: 570px;
  height: auto;
  position: absolute;
  top: -150px;
  right: -100px;
  z-index: 2; }

.note-img {
  max-width: 1100px;
  height: auto;
  position: absolute;
  top: 50px;
  left: -500px;
  z-index: 3; }

@media (min-width: 992px) {
  .promo__logo {
    padding-top: 100px;
    text-align: left; }
  .promo__title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 31px;
    text-align: left;
    max-width: 420px;
    margin-left: 0; }
  .promo__slogan {
    font-size: 18px;
    text-align: left; }
  .promo__btn {
    margin-top: 30px;
    width: 166px;
    height: 37px;
    font-size: 12px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 150px; }
  .promo-mobile {
    display: none; }
  .promo__btn-call {
    display: none; } }

@media (max-width: 992px) {
  .promo-desk {
    display: none; } }

.about {
  width: 100%;
  background: url("../img/about-us/people.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 815px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 40px;
  margin-top: 17px; }

.about__title {
  font-size: 24px;
  line-height: 30px;
  max-width: 463px;
  margin-top: 32px;
  margin-bottom: 50px;
  font-weight: 400; }

.about__title-sub {
  color: #6820d4; }

.about__list {
  margin: 0;
  padding: 0;
  font-size: 14px; }

.about__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.about__list-text {
  margin-left: 20px; }

.about__list-title {
  font-size: 15px;
  font-weight: 500; }

.about__list-icon {
  margin-top: 25px; }

@media (max-width: 992px) {
  .about {
    background: none;
    background-color: #f3f0f9; } }

@media (max-width: 576px) {
  .about {
    display: none; } }

.period {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px; }

.period__left {
  margin-top: 140px; }

.period__right {
  margin-top: 125px; }

.period__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px; }

.period__sub-title {
  color: #7a48e1; }

.period__text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px; }

.period__btn {
  -webkit-box-shadow: 4px 6px 13px rgba(133, 28, 176, 0.43);
          box-shadow: 4px 6px 13px rgba(133, 28, 176, 0.43);
  border-radius: 28px;
  background-color: #8548f6;
  border: none;
  color: #fff;
  width: 230px;
  height: 55px;
  margin-top: 40px; }
  .period__btn:hover {
    background-color: #af84ff;
    -webkit-box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
            box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
    -webkit-transition: .55s box-shadow;
    -o-transition: .55s box-shadow;
    transition: .55s box-shadow; }

.period__btn-icon {
  margin-left: 10px; }

.counts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.counts__circle {
  position: relative; }

.counts__stream {
  position: absolute;
  top: 47px;
  right: 55px;
  font-size: 60px;
  color: #7a48e1;
  font-weight: 600; }
  .counts__stream-sub {
    position: absolute;
    top: 90px;
    right: 45px;
    font-size: 17px;
    color: #7a48e1; }

.counts__work {
  position: absolute;
  top: 47px;
  right: 35px;
  font-size: 60px;
  color: #7a48e1;
  font-weight: 600; }
  .counts__work-sub {
    position: absolute;
    top: 90px;
    right: 40px;
    font-size: 17px;
    color: #7a48e1; }

.counts__course {
  position: absolute;
  top: 47px;
  right: 35px;
  font-size: 60px;
  color: #7a48e1;
  font-weight: 600; }
  .counts__course-sub {
    position: absolute;
    top: 90px;
    right: 40px;
    font-size: 17px;
    color: #7a48e1; }

.circle__label {
  font-size: 15px;
  max-width: 140px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400; }

.counts__circle {
  width: 142px; }

.counts__fn {
  font-size: 13px;
  position: relative;
  margin-top: 15px; }

.sup-star {
  font-size: 26px;
  color: #7a48e1;
  position: absolute;
  top: 0;
  left: -15px; }

.amt__value {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px; }

.amt__text {
  font-size: 12px;
  font-weight: 600;
  text-align: center; }

.amt__row {
  margin-top: 80px;
  padding-bottom: 80px; }

.amt {
  border-right: 1px solid #e6e6e6;
  min-height: 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px; }

.last-right-amt {
  border: none; }

@media (max-width: 992px) {
  .last-left-amt {
    border: none; }
  .amt__right {
    margin-top: 35px; }
  .period__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px; }
  .period__sub-title {
    text-align: center; }
  .period__sup-title {
    text-align: center; }
  .period__text {
    text-align: center; }
  .counts__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px; }
  .amt__row {
    margin-top: 50px; }
  .period__right {
    margin-top: 40px; } }

.call {
  font-family: 'Roboto', sans-serif;
  background: url("../img/call/block.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 55px;
  padding-bottom: 55px; }

.call__title {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 20px; }

.call__subtitle {
  font-size: 12px;
  font-weight: 300;
  color: #735ba4;
  text-align: center;
  margin-bottom: 30px; }

.call-phone-inp {
  border-radius: 20px;
  width: 393px;
  height: 41px;
  padding-left: 23px;
  background-color: #fff;
  border: none; }

.call__btn {
  width: 153px;
  border: none;
  height: 41px;
  -webkit-box-shadow: 4px 6px 46px #b02ee6;
          box-shadow: 4px 6px 46px #b02ee6;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  background-color: #8548f6; }
  .call__btn:hover {
    background-color: #af84ff;
    -webkit-box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
            box-shadow: 4px 6px 10px rgba(86, 31, 124, 0.35), 0 0 24px rgba(201, 116, 255, 0.26);
    -webkit-transition: .55s box-shadow;
    -o-transition: .55s box-shadow;
    transition: .55s box-shadow; }

.call__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

@media (max-width: 768px) {
  .call__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .call-phone-inp {
    max-width: 290px;
    margin-bottom: 35px; }
  .call__btn {
    width: 170px; }
  .call {
    background-position: 70% 70%; } }

.feedback {
  position: relative;
  overflow: hidden;
  padding-bottom: 200px; }

.feedback-bg {
  opacity: 0.1;
  position: absolute;
  width: 650px;
  top: -150px;
  left: -100px;
  z-index: 4; }

.feedback__phone-img {
  z-index: 5;
  display: block;
  padding-top: 100px;
  position: relative;
  max-width: 390px;
  height: auto; }

.vk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 47px;
  margin-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22);
          box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22);
  background-color: #8548f6;
  border-radius: 50px; }
  .vk:hover {
    -webkit-box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43);
            box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43);
    background-color: #a97bff; }

.feedback__left-col {
  position: relative; }

.whatsapp {
  width: 48px;
  height: 47px;
  -webkit-box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22);
          box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22);
  background-color: #8548f6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px; }
  .whatsapp:hover {
    -webkit-box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43);
            box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43);
    background-color: #a97bff; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.telegram {
  width: 48px;
  height: 47px;
  -webkit-box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22);
          box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22);
  background-color: #8548f6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px; }
  .telegram:hover {
    -webkit-box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43);
            box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43);
    background-color: #a97bff; }

.viber {
  width: 48px;
  height: 47px;
  -webkit-box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22);
          box-shadow: 9px 12px 18px rgba(151, 30, 221, 0.22);
  background-color: #8548f6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px; }
  .viber:hover {
    -webkit-box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43);
            box-shadow: 0 15px 18px rgba(151, 30, 221, 0.43);
    background-color: #a97bff; }
